/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'Roboto', sans-serif; /*font-family: 'Roboto Condensed', sans-serif;*/
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #fff;
	text-decoration: underline;
}
a:hover {
	color: #f45a40;
	text-decoration:none;
}
a:focus, a:active {
	color: #f45a40;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.center-block-main{
	max-width:1170px; margin:0 auto;
}
header {
	background: url(images/shapka.jpg);
}
.header-top{
	padding:30px 0;
}

	.logo{
		float:left; font-size:1.375em; font-family: 'Roboto Condensed', sans-serif;margin: 4%;
	}
	.contakt-basket{
		float:right;
	}
		.contakt-basket p{
			float:left; font-size:0.75em; font-weight:600;
		}
			.contakt-basket p img{
				vertical-align:middle; margin-right:3px;
			}
		.header-phone{
		float: right; font-size:2.375em;margin-right:15px;
		}
		.header-basket{
			border:1px solid #eee; padding:7px 25px; margin-left:20px;
		}
			.header-basket a{
				text-transform: uppercase; color:#7e7f84; text-decoration:none; margin-left:20px;
			}
			.header-basket a:hover{
				color:#f45a40;
			}
.header-bottom{
	padding:10px 0;background: black; opacity:0.7; width: 100%;
}
	.menu{
		float:left;
	}
		.menu li{
			float:left; text-transform:uppercase; margin-right:30px; font-size:0.875em;padding-left: 10px;
		}
			.menu li a{
				color:#fff; text-decoration:none;
			}
			.menu li a:hover{
				color:#f45a40;
			}
	.search-block{
		float:left; margin-top:-3px;
	}
		.search-btn{
			float:left; margin:2px 5px 0 0;
		}
		.search{
			float:left; font-size:0.875em; color:#7e7f84; border:none; line-height:1.4;
		}
	.my-slider{
		width: 100%;
}
	.my-slider ul li{
		position:relative; color:#f45a40;
	}
	.my-slider ul li h2{
		position:absolute; top:220px; left:30px; font-size:3.6875em; font-weight:bold; line-height:1.1;
	}
	.my-slider ul li p{
		position:absolute; top:370px; left:30px; font-size:0.875em; 
	}
	.unslider-nav{
		max-width:1170px; margin:0 auto; position:relative; top:-40px;
	}	

.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.row { display: inline-block; }
/* start commented backslash hack \*/
 .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */



.sidebar-1 {
	width: 20%;
	float: left;

}
.inner-sidebar-1 {
		

	
}
.inner-sidebar-1>.menu li {
		float:left; text-transform:uppercase; margin-right:30px; font-size:0.875em;padding-left: 10px;	
		list-style:none;padding-bottom: 13px;border-bottom: 1px dashed #000;padding-top:10px;width:70%;
}
.sidebar-1>.inner-sidebar-1>.menu>li>p a {
	color:black; text-decoration:none;
}
.sidebar-1>.inner-sidebar-1>.menu>li>p a:hover {
	color:#f45a40;
}

.content {
	
	width: 74%;
	float: left;
}
.inner-content {
	
	min-height: 500px;

}



	.footer {
	width: 100%;
	height:100px;
	padding: 28px 0 5px 0;
	background-color: #40260b; 
	text-align: center;
	color: #a8aa94;
	margin-left: 0px;
	margin-right:0px;
	min_width:900px;
}
.footer a {
	color: #a8aa94;
	text-decoration: none;
}
.footer a:hover {
	color: #fff;
	text-decoration: none;
}
.footer p {
	padding: 0 0 10px 0;
	
}